*{
    margin: 0px;
    padding: 0px;
}
header{
    max-width: 90vw;
    background-color: rgb(200, 209, 217);
    margin: 0 auto;
}

.for-meida{
    display: none;
}

.nav-conteinar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
    margin-left: 13px;
}
.nav-center{
    /* max-width: 350px; */
    border: 1px solid black;
}
.nav-center{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    /* max-width: 350px; */
    /* border: 1px solid red; */
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-center > li > a{
    text-decoration: none;
    font-size: 1.25rem;
    
}
#home{
    color: orange;
}
#about{
    color: skyblue;
}
#facilities{
    color: #05D4DF;
}
#Admission{
    color: #5D58EF;
}

.nav-center > li{
    list-style: none;
}
.btn{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}

.header-conteinar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 24px;
}
.collor-1{
    color: orange;
}
.collor-2{
    color: skyblue;
}
.about-heading{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.btn-2{
    padding: 10px 47px;
    background-color: black;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 12px;
}

.box-right > img{
    width: 100%;
}


/* main section */

main{
    background-image: url(../assets/bg.png);
    background-repeat: repeat-y;
    
    



}
.first-section{
    width: 85vw;
    border: 1px solid red;
    margin: 0 auto;
}

.curriculum{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.curriculum-container{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.box-1, .box-2, .box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    padding: 53px 41px;
    box-shadow: 10px 10px 5px lightblue;
}
.box-1{
    
    background-image: linear-gradient(#DEF5FF, white);
}

.box-2{
    background-image: linear-gradient(#FFF4DC, white);
}
.box-3{
    background-image: linear-gradient(#F2E8FF, white);
}

.curriculum-box-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-top: 32px;
}

.about-curriculum-box-title{
    /* margin-top: 24px; */
    line-height: 28.3px;
    text-align: center;
    margin: 0px;
    margin-top: 32px;
}

.curriculum-box-btn{
    border: none;
    font-size: 1rem;
    font-weight: bold;margin-top: 39px;
    background-color: transparent;
}

.box-btn-1{
    color: #64C8FF;
}
.box-btn-2{
    color: #F0AA00;
}
.box-btn-3 {
    color: #8700FF;
}


.icon{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.scend-section{
    /* border: 2px solid red; */
    
    
    background-image: linear-gradient(#ffffff, #f3d197);
    
}

.stories{
    font-size: 2.9rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.stories-conteinar{
    max-width: 85vw;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 25px;
    border: 1px solid black;
    
}
#box-1{
    grid-row: span 2;
}


.storie-box-1, .storie-box-2, .storie-box-3, .storie-box-4, .storie-box-5{
    border: 2px solid aqua;
    border-radius: 16px;
    box-shadow: 10px 10px 5px lightblue;
}

#box-1 > img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    margin: 0px;
}
#box-1 > h5{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* margin: 0px; */
}

#box-1 > p{
    color: #666666;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.storie-box-2 > img{
    width: 100%;
}
.storie-box-3 > img{
    width: 100%;
}
.storie-box-4 > img{
    width: 100%;
}
.storie-box-5 > img{
    width: 100%;
}

#box-1 > button{
    color: white;
    background-color: #3CD8E8;
    border: none;
    border-radius: 48px;
    padding: 14px 18px;
    
    
}
#storie-btn{
    position: relative;
    left: 40px;
    top: -28px;
}



.grid-img{
    border-radius: 16px 16px 0px 0px;
}
#box-2{
    font-weight: 500;
    color: white;
    padding: 9px 19px;
    border: none;
    border-radius: 47px;
    background-color: #95B226;
    position: relative;
    top: -20px;
    left: 38px;
}
#box-3{
    font-weight: 500;
    color: white;
    padding: 9px 19px;
    border: none;
    border-radius: 47px;
    background-color: #5D58F0;
    position: relative;
    top: -20px;
    left: 38px;

}
#box-4{
    font-weight: 500;
    color: white;
    padding: 9px 19px;
    border: none;
    border-radius: 47px;
    background-color: #95B226;
    position: relative;
    top: -20px;
    left: 38px;
}
#box-5{
    font-weight: 500;
    color: white;
    padding: 9px 19px;
    border: none;
    border-radius: 47px;
    background-color: #95B226;
    position: relative;
    top: -20px;
    left: 38px;
}

.grid-title{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    /* margin: 10px 60px 20px 20px; */
    margin: 0px 16px;
}

.storie-box-1, .storie-box-2, .storie-box-3, .storie-box-4, .storie-box-5{
    background-color: #ffffff;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-btn{
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: black;
    padding: 10px 55px;
    border-radius: 14px;
    margin: 60px 0px;
}





@media screen and (max-width:576px) {
    body{
        /* background-color: #05D4DF; */
        
    }
    .nav-conteinar{
        display: none;
    }
    .for-meida{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .header-conteinar{
        flex-direction: column-reverse;
    }
    .box-left{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        text-align: center;
    }
    .curriculum-container{
        flex-direction: column;
    }
    .curriculum{
        font-size: 30px;
    }
    .icon{
        display: none;
    }

    .storie-box-1{
        display: none;
    }
    .stories-conteinar{
        
        grid-template-columns: repeat(2, 1fr);
    }
    #box-2, #box-3, #box-4, #box-5{
        background-color: #05D4DF;
        padding: 5px 8px;
        font-size: 10px;
        font-weight: normal;
    }
    .grid-title{
        font-size: 8px;
        font-weight: normal;
    }
    .stories-conteinar{
        gap: 5px;
    }

}

