*{
    margin: 0px;
    padding: 0px;
}
header{
    max-width: 90vw;
    background-color: rgb(200, 209, 217);
    margin: 0 auto;
}

.for-meida{
    display: none;
}

.nav-conteinar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
    margin-left: 13px;
}
.nav-center{
    /* max-width: 350px; */
    border: 1px solid black;
}
.nav-center{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    /* max-width: 350px; */
    /* border: 1px solid red; */
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-center > li > a{
    text-decoration: none;
    font-size: 1.25rem;
    
}
#home{
    color: orange;
}
#about{
    color: skyblue;
}
#facilities{
    color: #05D4DF;
}
#Admission{
    color: #5D58EF;
}

.nav-center > li{
    list-style: none;
}
.btn{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}

.header-conteinar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 24px;
}
.collor-1{
    color: orange;
}
.collor-2{
    color: skyblue;
}
.about-heading{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.btn-2{
    padding: 10px 47px;
    background-color: black;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 12px;
}

.box-right > img{
    width: 100%;
}


/* main section */

main{
    background-image: url(../assets/bg.png);

    /* border: 2px solid aqua; */
}
section{
    width: 90vw;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.curriculum{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.curriculum-container{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.box-1, .box-2, .box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    padding: 53px 41px;
}
.box-1{
    
    background-image: linear-gradient(#DEF5FF, white);
}

.box-2{
    background-image: linear-gradient(#FFF4DC, white);
}
.box-3{
    background-image: linear-gradient(#F2E8FF, white);
}

.curriculum-box-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-top: 32px;
}

.about-curriculum-box-title{
    /* margin-top: 24px; */
    line-height: 28.3px;
    text-align: center;
    margin: 0px;
    margin-top: 32px;
}

.curriculum-box-btn{
    border: none;
    font-size: 1rem;
    font-weight: bold;margin-top: 39px;
    background-color: transparent;
}

.box-btn-1{
    color: #64C8FF;
}
.box-btn-2{
    color: #F0AA00;
}
.box-btn-3 {
    color: #8700FF;
}














@media screen and (max-width:576px) {
    body{
        /* background-color: #05D4DF; */
        
    }
    .nav-conteinar{
        display: none;
    }
    .for-meida{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .header-conteinar{
        flex-direction: column-reverse;
    }
    .box-left{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        text-align: center;
    }
}